body {
    font-size: 1.2rem;
    padding-top: 10px;
    padding-bottom: 20px;
}

.main-container {
    max-width: 960px;
}

.full-width {
    width: 100%;
}

.image-border {
    border: 1px solid #B0A497;
    border-radius: .25rem;
}

.video-embed {
    margin-bottom: 1rem;
}
