body {
    font-size: 1.2rem;
    padding-top: 10px;
    padding-bottom: 20px;
}

.main-container {
    max-width: 960px;
}

.full-width {
    width: 100%;
}

.navbar {
    background-color: #ffffff !important;
    padding: 0 0 .5rem 0;
}
.navbar .container-fluid,
.navbar-nav {
    padding-left: 0;
    padding-right: 0;
}
.nav-link {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-right: 1rem;
    font-weight: 600;
}

.image-border {
    border: 1px solid #B0A497;
    border-radius: .25rem;
}

.music-icon {
    display: inline-block;
    padding: 0.5rem;
    border-radius: .25rem;
}
.spotify-icon {
    background-color: #1ED760;
}
.apple-music-icon {
    background-color: #000000;
}
.youtube-music-icon {
    background-color: #FF0000;
}
.amazon-music-icon {
    background-color: #FF9900;
}

.lasthr {
    margin-bottom: 2rem;
}

.back-to-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 98;
}
